button{
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.btn-secondary,
.btn-primary{
  padding: 0 12px;
  border-radius: 99px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: filter 0.2s;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(-60deg,rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
}

.btn-primary:active, .btn-secondary:active {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.btn-primary {
  background-color: var(--primary-green);
  color: white;
}

.btn-primary:hover {
  filter: brightness(0.9);
}

.btn-primary:active {
  filter: brightness(0.85);
}

.btn-secondary {
  /* background-color: var(--border-gray-light); */
  background-color: var(--text-dark);
  /* color: var(--text-dark); */
  color: white;
}

.btn-secondary:hover {
  filter: brightness(0.85);
}

.btn-secondary:active {
  filter: brightness(0.7);
}
