@import '@angular/cdk/overlay-prebuilt.css';
@import './styles/variables.css';
@import './styles/components.css';
@import './styles/icons.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  outline: none;
}

/* Global Styles */
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter[opsz,wght].ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--bg-white);
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}